/* 
    CSS Guide 

    1.  General Styles (Normalize)

 */


 /* 1. ---General Styles--- */

 * {
   border: none;
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

.hidden { display: none; }


body {
   margin: 0px;
   padding: 0px;
}

/* ---General rules - scales images, videos to size of container--- */
img, embed, object, video, picture {
   max-width: 100%; 
 }

p, h1, h2, h3, h4, h5 {
   margin: 0px; 
   padding: 0px;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}